In [89]:
import pandas as pd

In [90]:
data = pd.read_csv(r'C:\Users\Tarun\Desktop\comp\mini-pred\MiniProjectDatasets\crop_recommendation.csv')

In [91]:
data=data.drop(['rainfall'],axis=1)

In [92]:
data.head(25)

     N   P   K  temperature   humidity        ph label
0   90  42  43    20.879744  82.002744  6.502985  rice
1   85  58  41    21.770462  80.319644  7.038096  rice
2   60  55  44    23.004459  82.320763  7.840207  rice
3   74  35  40    26.491096  80.158363  6.980401  rice
4   78  42  42    20.130175  81.604873  7.628473  rice
5   69  37  42    23.058049  83.370118  7.073454  rice
6   69  55  38    22.708838  82.639414  5.700806  rice
7   94  53  40    20.277744  82.894086  5.718627  rice
8   89  54  38    24.515881  83.535216  6.685346  rice
9   68  58  38    23.223974  83.033227  6.336254  rice
10  91  53  40    26.527235  81.417538  5.386168  rice
11  90  46  42    23.978982  81.450616  7.502834  rice
12  78  58  44    26.800796  80.886848  5.108682  rice
13  93  56  36    24.014976  82.056872  6.984354  rice
14  94  50  37    25.665852  80.663850  6.948020  rice
15  60  48  39    24.282094  80.300256  7.042299  rice
16  85  38  41    21.587118  82.788371  6.249051  rice
17  91  35  39    23.793920  80.418180  6.970860  rice
18  77  38  36    21.865252  80.192301  5.953933  rice
19  88  35  40    23.579436  83.587603  5.853932  rice
20  89  45  36    21.325042  80.474764  6.442475  rice
21  76  40  43    25.157455  83.117135  5.070176  rice
22  67  59  41    21.947667  80.973842  6.012633  rice
23  83  41  43    21.052536  82.678395  6.254028  rice
24  98  47  37    23.483813  81.332651  7.375483  rice

In [93]:
data.tail()

        N   P   K  temperature   humidity        ph   label
2195  107  34  32    26.774637  66.413269  6.780064  coffee
2196   99  15  27    27.417112  56.636362  6.086922  coffee
2197  118  33  30    24.131797  67.225123  6.362608  coffee
2198  117  32  34    26.272418  52.127394  6.758793  coffee
2199  104  18  30    23.603016  60.396475  6.779833  coffee

In [94]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [95]:
data['label']=le.fit_transform(data['label'])

In [96]:
data.head()

    N   P   K  temperature   humidity        ph  label
0  90  42  43    20.879744  82.002744  6.502985     20
1  85  58  41    21.770462  80.319644  7.038096     20
2  60  55  44    23.004459  82.320763  7.840207     20
3  74  35  40    26.491096  80.158363  6.980401     20
4  78  42  42    20.130175  81.604873  7.628473     20

In [97]:
X=data[['N','P','K','temperature','humidity','ph']]
y=data['label']

In [98]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3)

In [99]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn import svm
from sklearn.neural_network import MLPClassifier

import numpy as np

models = {
    LogisticRegression(max_iter=100):'Logistic Regression',
    RandomForestClassifier():'Random Forest',
    svm.SVC():'Support Vector Machine',
    MLPClassifier():'Multi Layer Perceptron',
}
for m in models.keys():
    m.fit(X_train,y_train)
for model,name in models.items():
    print(f"Accuracy Score for {name} is : ",model.score(X_test,y_test)*100,"%")

C:\Users\Tarun\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

Accuracy Score for Logistic Regression is :  87.12121212121212 %
Accuracy Score for Random Forest is :  95.60606060606061 %
Accuracy Score for Support Vector Machine is :  87.42424242424242 %
Accuracy Score for Multi Layer Perceptron is :  86.81818181818181 %

In [100]:
model=RandomForestClassifier()
model.fit(X_train,y_train)
print(f"Accuracy Score for Random Forest is : ",model.score(X_test,y_test)*100,"%")

Accuracy Score for Random Forest is :  95.45454545454545 %

In [101]:

prediction1 = model.predict([[74,35,40,26.491096,80.158363,6.980401]])
print(prediction1)

[20]