In [63]:
import pandas as pd

In [64]:
data = pd.read_csv(r'C:\Users\Tarun\Desktop\comp\mini-pred\MiniProjectDatasets\crop_recommendation.csv')

In [65]:
data=data.drop(['rainfall'],axis=1)

In [66]:
data.head()

    N   P   K  temperature   humidity        ph label
0  90  42  43    20.879744  82.002744  6.502985  rice
1  85  58  41    21.770462  80.319644  7.038096  rice
2  60  55  44    23.004459  82.320763  7.840207  rice
3  74  35  40    26.491096  80.158363  6.980401  rice
4  78  42  42    20.130175  81.604873  7.628473  rice

In [67]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [68]:
data['label']=le.fit_transform(data['label'])

In [69]:
data.head()

    N   P   K  temperature   humidity        ph  label
0  90  42  43    20.879744  82.002744  6.502985     20
1  85  58  41    21.770462  80.319644  7.038096     20
2  60  55  44    23.004459  82.320763  7.840207     20
3  74  35  40    26.491096  80.158363  6.980401     20
4  78  42  42    20.130175  81.604873  7.628473     20

In [70]:
X=data[['N','P','K','temperature','humidity','ph']]
y=data['label']

In [71]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3)

In [72]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn import svm
from sklearn.neural_network import MLPClassifier

import numpy as np

models = {
    LogisticRegression(max_iter=100):'Logistic Regression',
    RandomForestClassifier():'Random Forest',
    svm.SVC():'Support Vector Machine',
    MLPClassifier():'Multi Layer Perceptron',
}
for m in models.keys():
    m.fit(X_train,y_train)
for model,name in models.items():
    print(f"Accuracy Score for {name} is : ",model.score(X_test,y_test)*100,"%")

C:\Users\Tarun\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

Accuracy Score for Logistic Regression is :  88.03030303030303 %
Accuracy Score for Random Forest is :  97.42424242424242 %
Accuracy Score for Support Vector Machine is :  90.75757575757576 %
Accuracy Score for Multi Layer Perceptron is :  88.63636363636364 %

In [73]:
model=RandomForestClassifier()
model.fit(X_train,y_train)
print(f"Accuracy Score for Random Forest is : ",model.score(X_test,y_test)*100,"%")

Accuracy Score for Random Forest is :  97.87878787878788 %

In [74]:

prediction1 = model.predict([[74,35,40,26.491096,80.158363,6.980401]])
print(prediction1)

[20]